*,
*::before,
*::after {
  /* makes padding calculated withing width parameters */
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
:root {
  --ff-primary: 'Bangers', sans-serif;
  --ff-secondary: 'Quattrocento Sans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: lavenderblush;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-body: 1rem;

  /* blend 2 shadows for realism */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (max-width: 390px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1rem;
    --fs-body: 0.9rem;
  }
}

@media (min-width: 760px) {
  :root {
    --fs-h1: 2.75rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.8rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.1rem;
  }
}

@media (min-width: 980px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2.75rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.2rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-body: 1.2rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
  /* overflow-x: hidden; */
}

body {
  background: #ffefba; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fde0e9,
    #ffeec0,
    #fff2aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--clr-dark);
  width: 100vw;
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}

section {
  padding: 3em 2em;
  min-width: min-content;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline-color: var(--clr-accent);
  outline-offset: 2px;
  -webkit-focus-ring-color: var(--clr-accent);
  -moz-outline-radius: 10px;
  /* border: 2px solid var(--clr-accent); */
  border-radius: 10px;
}

/* Typography */

h1.section__title--intro {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
}

h1,
h2 {
  font-family: var(--ff-primary);
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 3rem;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  /* padding-top: 2rem; */
}

.section__subtitle {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  /* font-size: var(--fs-h4); */
  /* font-weight: bold; */
  background: var(--clr-accent);
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: -3rem 0 0 0;
  padding: 0 2rem;
  z-index: -99;
}

/* .section__subtitle--intro,
.website__intro--subtitle,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0 1em;
  font-family: var(--ff-secondary);
} */

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(1.05);
}

/* .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: 2px solid #ccc;
} */

/* Header */

/* @supports not styles */
header {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
  /* padding: 0.5em; */
  top: 0;
  width: 100vw;
  z-index: 100;
  height: 65px;
  align-items: center;
  background: #fceef313;
  box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.17);
  margin-bottom: 3rem;
}
/* make sure @supports come after normal styles, otherwise the normal styles will override the above @supports styles.  */
/* @supports styles */
@supports (scroll-padding-top: 65px) {
  header {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    /* padding: 0.5em; */
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 65px;
    align-items: center;
    background: #fceef313;
    box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.17);
  }
}

/* because the styles for the headers are so different I had to use @supports not* instead of just @supports. In this case, @supports not* had to go before the @supports styles. */
@supports not (backdrop-filter: blur(3px)) {
  .header-backdrop {
    width: 100vw;
    height: 100%;
    z-index: 99;
    opacity: 0.9;
    background: linear-gradient(to top, #fde0e9, #ffeec0, #fff2aa);
  }

  .logo {
    max-width: 70px;
    opacity: 0.9 !important;
    background: linear-gradient(to top, #fde0e9, #ffeec0, #fff2aa);
  }
  .nav {
    background-color: unset;
    position: fixed;
    opacity: 0.95;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
}
/* make sure @supports come after normal styles, otherwise the normal styles will override the above @supports styles.  */
/* @supports styles */
/* @supports (backdrop-filter: blur(3px)) { */
.header-backdrop {
  width: 100vw;
  height: 100%;
  z-index: 99;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.logo {
  max-width: 70px;
  opacity: 0.9;
  /* backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); */
}

.nav {
  /* -webkit-backdrop-filter: unset;
  backdrop-filter: unset; */
  position: fixed;
  opacity: 0.95;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
/* } */

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding: 0 1em;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fw-reg);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.2em;
  z-index: 1001;
}

.nav-open .nav {
  transform: translateX(60%);
}

@media (max-width: 550px) {
  .nav-open .nav {
    transform: translateX(50%);
  }
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  background: var(--clr-accent);
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  background: var(--clr-accent);
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  background: var(--clr-accent);
  opacity: 0;
  /* transform: rotate() */
}

@media (min-width: 550px) {
  .nav__link {
    font-size: var(--fs-h3);
  }
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgb(69, 69, 69);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Intro Section */

.intro {
  position: relative;
  text-align: center;
}

.intro__img {
  box-shadow: var(--bs);
  width: 90%;
  /* min-width: 180px; */
  max-width: 280px;
  margin: -3px auto;
}

.section__footer--intro {
  width: 100%;
}

.intro__icons {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 0 auto 1em;
}

.icon__img {
  max-width: 25%;
  max-height: 35px;
  padding: 0;
}

.section__subtitle--intro {
  align-self: start;
  /* grid-column: -1 / 1;
  grid-row: 2; */
  text-align: center;
  position: relative;
  width: 90%;
  margin: -3.5rem auto 1rem;
}

@media (min-width: 760px) {
  .intro {
    text-align: unset;
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;

    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: -webkit-min-content -webkit-max-content;
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    min-width: 250px;
    max-width: 300px;
  }

  .section__title {
    grid-area: title;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .section__title--intro strong {
    margin: 6rem 0 -5rem 0;
    z-index: 99;
  }

  .section__subtitle--intro {
    /* align-self: start; */
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -0.5em;
    /* left: -1.5em; */
    width: 105%;
    margin: 0 auto;
  }

  .icon__img {
    max-height: 50px;
    padding: 0;
  }
}

@media (min-width: 980px) {
  .section__title--intro strong {
    margin: 7rem 0 -3rem 0;
  }
  .intro__img {
    min-width: 280px;
  }
}

@media (min-width: 1200px) {
  .intro h3 {
    margin-left: 1rem;
  }
  .section__title--intro strong {
    margin: 8rem 0 -3rem 1rem;
  }
  .intro__img {
    min-width: 320px;
  }
}

/* My Services Section */

.my-services {
  background-color: rgb(20, 20, 20);
  background-image: url(../img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
  background-size: cover;
  /* darken image */
  background-blend-mode: overlay;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #14806e, 0 2px 0 #14806e, 0 3px 0 #14806e,
    0 4px 0 #14806e, 0 5px 0 #14806e, 0 6px 0 #14806e, 0 7px 0 #14806e,
    0 8px 0 #14806e, 0 9px 0 #14806e, 0 50px 30px #06493e4d;
}

/* make a little underline accent */
.section__title--services::after {
  /* need this or won't appear */
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5rem auto 1rem;
  /* always match color of .section__title--services */
  background: currentColor;
  opacity: 0.4;
}

.services {
  margin: 3rem auto;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 890px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/* About Me */

.about-me {
  max-width: 1200px;
  margin: 1em auto 0;
  padding: 4em 2em;
}

.about-me__img {
  box-shadow: var(--bs);
  max-width: 260px;
  margin: 0 auto;
}

.about-me__body {
  padding: 2rem 2rem 0 3rem;
}

.about-me__body p {
  text-indent: 2em;
}

.section__title--about {
  grid-area: title;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 650px) {
  .about-me {
    display: grid;
    grid-template-columns: minmax(350px, auto);
    grid-template-areas:
      'title    img'
      'title     img'
      'text     img';
    grid-column-gap: 2em;
  }

  .section__subtitle--about {
    /* stretch from one side all the way to the other side */
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    left: -1em;
    /* banner sticks out both sides */
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }

  .about-me__body {
    grid-area: text;
    margin-top: -50px;
    padding: 0.75rem;
  }
}

@media (min-width: 975px) {
  .about-me__body {
    padding: 1rem 2rem 0 3rem;
  }
}

@media (min-width: 1200px) {
  .about-me__body {
    margin-top: -7rem;
  }

  .about-me__img {
    max-width: 320px;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background: linear-gradient(145deg, #303030, #303030eb, #313131e6);
  box-shadow: inset 20px 20px 90px #000000b0;
}

.section__title--work {
  text-shadow: 0 1px 0 #a7a7a7, 0 2px 0 #a1a1a1, 0 3px 0 #9e9e9e,
    0 4px 0 #969595, 0 5px 0 #949494, 0 6px 0 #8a8a8a, 0 7px 0 #7c7c7c,
    0 8px 0 #727272, 0 9px 0 #646464, 0 15px 30px rgb(0 0 0 / 30%);
}

.section__subtitle--work {
  color: var(--clr-accent);
  background: rgba(0, 0, 0, 0);
  font-weight: var(--fw-bold);
  margin-top: 1em;
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* autofit requires a minmax(min-size, min fraction of area) */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

/* .portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  margin: 1em auto;
  object-fit: unset;
} */

.portfolio__card {
  background: var(--clr-dark);
  overflow: hidden;
  margin: 1em 1em;
  text-align: center;
  border-radius: 10px;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 350ms linear;
  width: 90%;
  height: 90%;
  min-width: 220px;
  max-width: 380px;
}

.portfolio__card-background {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(145deg, #e6e6e63d, #ffffffb7);
  box-shadow: inset 20px 20px 60px #f2f2f211;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  padding-bottom: 20px;
  overflow: hidden;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 350ms linear;
}

.portfolio__card:hover,
.portfolio__card-background:hover {
  transform: scale(1.05);
  opacity: 1;
}

.portfolio__card-background > p {
  margin: 0 0 0.5rem;
}

.portfolio__card h2 {
  font-family: var(--ff-secondary);
  color: #f1e5e5;
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  background: rgba(0, 0, 0, 0);
  /* background: var(--clr-dark); */
  /* font-size: 2rem; */
  margin-bottom: 10px;
  z-index: 99999999;
  text-shadow: 0 1px 0 #a7a7a7, 0 2px 0 #a1a1a1, 0 3px 0 #9e9e9e,
    0 4px 0 #969595, 0 5px 0 #949494, 0 6px 0 #8a8a8a,
    0 15px 30px rgb(0 0 0 / 30%);
}

@media (min-width: 760px) {
  .design-page__subtitle {
    margin-top: 3rem;
    width: 90%;
    left: 0;
  }
}

.portfolio__title {
  font-size: 1.5em;
  margin-top: 0;
  color: var(--clr-light);
  padding: 2rem;
}

.portfolio-title .portfolio-subtitle {
  margin: 4rem 0 -2rem 0;
  /* padding: 0 !important; */
  line-height: 1.4;
}

.portfolio-subtitle {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .portfolio-title .portfolio-subtitle {
    margin: 7rem 0 -5rem 0;
    line-height: 1.4;
  }
}

.portfolio__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 210px;
  height: 210px;
  margin: 0 auto;
  opacity: 0.75;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 350ms linear;
  border-radius: 10px;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item {
  margin-bottom: 0;
  display: inline-block;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.08);
  opacity: 1;
}

@media screen and (min-width: 913px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}

/* Lightbox */

.portfolio-lightbox {
  z-index: 101;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.portfolio-lightbox:target {
  display: flex;
}

.portfolio-lightbox__bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 102;
}

.portfolio-lightbox__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  min-width: 250px;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  position: relative;
  z-index: 103;
  /* justify-content: space-around; */
}

@media screen and (max-width: 400px) {
  .portfolio-lightbox__content {
    height: 70vh;
    width: 90vw;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.25rem;
    position: relative;
    z-index: 103;
  }
}

.portfolio-lightbox__content img {
  /* width: 75%; */
  height: 75%;
  margin: 0 auto 0.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.portfolio-lightbox__title,
.portfolio-lightbox__body {
  margin: 0.5rem 0 0;
}

.close {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--clr-accent);
  opacity: 80%;
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 110;
}

.close::after {
  margin: 1em;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f057';
  color: white;
  z-index: 110;
}

/* Footer */

.footer {
  font-size: var(--fs-h3);
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual Portfolio Item Styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-img {
  box-shadow: none;
  /* max-width: 280px; */
}

.projects > .portfolio__card-background {
  width: 320px;
}

#sourceCode {
  font-family: 'Source Code Pro', monospace;
}

.code-svg img {
  -o-object-fit: contain;
  object-fit: contain;
}

/*    Websites     */

.website {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.website:nth-of-type(odd) {
  background: var(--clr-dark);
  margin-bottom: 3rem;
}

.website:nth-of-type(odd) .website__item--icons {
  background: linear-gradient(0deg, #e6e6e654, #ffffffe1);
  box-shadow: inset 20px 20px 60px #f2f2f211;
  border-radius: 10px;
  /* border: 2px ridge var(--clr-dark); */
  padding: 0.5rem;
  /* background-blend-mode: overlay; */
}

.website:nth-of-type(odd) h2 {
  color: var(--clr-light);
  text-shadow: 0 1px 0 #777777, 0 2px 0 #777777, 0 3px 0 #777777,
    0 4px 0 #777777, 0 5px 0 #777777, 0 6px 0 #777777, 0 7px 0 #777777,
    0 8px 0 #777777, 0 9px 0 #777777, 0 50px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 4rem;
}

.website__intro {
  position: relative;
  text-align: center;
}

.website__item--title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
  text-align: center;
}
/* 
.website__intro--title strong {
  display: block;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
} */

.website__item--subtitle {
  align-self: start;
  /* grid-column: -1 / 1;
  grid-row: 2; */
  text-align: center;
  position: relative;
  width: 95%;
  /* min-width: 383px; */
  margin: -1rem auto 0;
  padding: 0;
  z-index: 20;
  line-height: 1.25em;
  border-radius: 10px 10px 0 0;
}

.website__img--container {
  display: block;
  max-height: 350px;
  /* height: 100%; */
  min-width: 300px;
  max-width: 380px;
  margin: 0 auto;
  padding: 2rem 0;
}

.website__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  overflow: hidden;
  /* padding: 1rem 2rem; */
  border-radius: 8px;
  opacity: 0.9;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 350ms linear;
}

.website__img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.website__item--body {
  width: 95%;
  height: min-content;
  margin: 0 auto 1rem;
  padding: 1rem 2rem 1rem;
  background: #ffffffe0;
  border-radius: 0 0 10px 10px;
}

.website__item--body p {
  margin: 0 auto;
}

.website__item--icons {
  grid-column: 1 / -1;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto 1em;
  text-align: center;
}

.website__item--icons img {
  margin: 1rem auto;
}

.tech-used {
  background-color: var(--clr-dark);
  background-image: url(../img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
  background-size: cover;
  /* darken image */
  background-blend-mode: overlay;
  color: var(--clr-light);
  text-align: center;
}

@media (min-width: 450px) {
  .website {
    padding: 2rem;
  }
  .website__item--icons {
    display: flex;
  }
  .website__subtitle-tech {
    display: block;
  }
}

@media (min-width: 720px) {
  .website {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-template-areas:
      'title  title  img'
      'title  title  img'
      'text   text  img'
      'text   text  img';
    grid-column-gap: 2rem;
    align-items: center;
  }

  .website:nth-of-type(odd) {
    grid-template-areas:
      'img  title  title'
      'img  title  title'
      'img  text   text'
      'img  text   text';
  }

  .website__item--title {
    grid-area: title;
    /* grid-column: 1 / 3; */
    text-align: center;
    /* margin-bottom: -20px; */
  }

  .website__item--subtitle {
    grid-area: title;
    /* grid-column: 1 / 3; */
    grid-row: 3;
  }

  /* .website__item--title:nth-of-type(odd) {
    grid-column: 2 / -1;
  }

  .website__item--subtitle:nth-of-type(odd) {
    grid-column: 2 / -1;
  } */

  .website__subtitle-tech {
    grid-column: 1 / -1;
    margin: 3rem auto 0.5rem;
  }

  .website__item--body {
    grid-area: text;
    padding: 2rem 2rem 1rem;
  }

  .website__img--container {
    grid-area: img;
    margin-top: 2rem;
    max-width: 300px;
  }
}

@media (min-width: 920px) {
  .website {
    padding: 3rem;
  }

  .website__item--body {
    padding: 3.5rem 2rem 1rem;
  }
}

@media (min-width: 1200px) {
  .website__item--title {
    margin: 1rem 0 -1rem 0;
    z-index: 99;
  }
}

/* PROJECTS PAGE */

.portfolio-subtitle {
  /* margin-top: 4rem !important;
  padding: 1rem 0 !important; */
  left: 0 !important;
  z-index: 1;
}

@media (min-width: 760px) {
  .portfolio-subtitle {
    /* margin-top: 4rem !important;
  padding: 1rem 0 !important; */
    left: 0 !important;
    z-index: -1;
  }
}
