*,
*::before,
*::after {
  /* makes padding calculated withing width parameters */
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --ff-primary: 'Bangers', sans-serif;
  --ff-secondary: 'Quattrocento Sans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: lavenderblush;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 1.5rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-body: 0.8rem;

  /* blend 2 shadows for realism */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
  font-size: var(--fs-body);
  /* line-height: 1.3rem; */
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (min-width: 390px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
  }
}

@media screen and (min-width: 790px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.1rem;
  }
}

@media screen and (min-width: 990px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-body: 1.3rem;
  }
}

/* Header */

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  top: 0;
  z-index: 100;
}

.logo {
  max-width: 70px;
  opacity: 0.9;
}

/* Navbar */

img {
  display: block;
  max-width: 100%;
}

.nav {
  position: fixed;
  opacity: 0.95;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__item {
  background: none;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding: 0 1em;
}

.nav__link {
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fw-reg);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.5em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(55%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .nav-toggle:focus {
  border-color: var(--clr-accent);
}

.nav-open .hamburger {
  background: var(--clr-accent);
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  background: var(--clr-accent);
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  background: var(--clr-accent);
  opacity: 0;
  /* transform: rotate() */
}

@media (min-width: 550px) {
  .nav__link {
    font-size: var(--fs-h3);
  }
}

/* Hamburger Button */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgb(69, 69, 69);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* To Do List */

h1 {
  background-color: #2980b9;
  background: linear-gradient(145deg, #13e7ff, #10c2e1);
  background-blend-mode: overlay;
  color: rgb(19, 19, 19);
  margin: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: var(--fs-h1);
  font-weight: normal;
  border-radius: 30px 30px 0px 0px;
}

#container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  width: 75%;
  min-width: 280px;
  margin: 4rem auto;
  background-color: #f7f7f7;
  /* box-shadow: 0 0 3px rgba(0,0,0, 0.1); */
  border-radius: 30px;
  box-shadow: 37px 37px 74px #0a778a, -37px -37px 74px #1affff;
}

#toggle-form {
  padding: 0 1rem 0.5rem;
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  #container {
    min-width: 204px;
  }
  #toggle-form {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 0 0 0.5rem;
    text-align: center;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  /* background-color: #fff; */
  font-size: 1.5em;
  line-height: 4rem;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: inset -8px -9px 26px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -8px -9px 26px -30px rgba(0, 0, 0, 0.75);
  box-shadow: inset -8px -9px 26px -30px rgba(0, 0, 0, 0.75);
}

/* li:nth-child(2n) {
  background:  #f3f3f3;
} */

li:last-child {
  border-radius: 0px 0px 30px 30px;
  overflow-x: hidden;
}

li span {
  background-color: #e74c3c;
  height: 100%;
  margin-right: 1rem;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition-property: text, width;
  transition-duration: 0.3s;
  opacity: 0;
  cursor: pointer;
}

li:hover span {
  width: 4rem;
  padding: 0rem 1rem;
  opacity: 1;
}

input {
  font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0px 0px 15px -7px rgba(0, 0, 0, 0.45);
}

input:focus {
  background-color: #fff;
  border: 3px solid #12d8fa;
  outline: none;
}

.completed {
  color: grey;
  text-decoration: line-through;
}
