
*,
*::before,
*::after {
  /* makes padding calculated withing width parameters */
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Bangers', sans-serif;
  --ff-secondary: 'Quattrocento Sans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: lavenderblush;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  /* blend 2 shadows for realism */
  --bs: .25em .25em .75em rgba(0,0,0,.25),
        .125em .125em .25em rgba(0,0,0,.15);

}

@media (min-width: 890px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 2rem;
    --fs-body: 1.125rem;
  }
}

body{
	font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
	font-size: 18px;
	background: #1FA2FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}

/* Header */

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  top: 0;
  z-index: 100;
}

.logo {
  max-width: 70px;
	opacity: .9;
}

/* Navbar */

img {
  display: block;
  max-width: 100%;
}

.nav {
  position: fixed;
  opacity: .95;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5,0,.5,1);
}

.nav__item {
	background: none;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding: 0 1em;
}

.nav__link {
	color: inherit;
	font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fw-reg);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;  
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.5em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(70%);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .nav-toggle:focus {
	border-color: var(--clr-accent);
}

.nav-open .hamburger {
  background: var(--clr-accent);
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  background: var(--clr-accent);
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  background: var(--clr-accent);
  opacity: 0;
  /* transform: rotate() */
}

@media (min-width: 550px) {
  .nav__link {
    font-size: var(--fs-h3);
  }
}

/* Hamburger Button */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgb(69, 69, 69);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* To Do List */

h1 {
	background-color: #2980b9;
	background: linear-gradient(145deg, #13e7ff, #10c2e1);
	background-blend-mode: overlay;
	color: rgb(19, 19, 19);
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 2.2em;
	font-weight: normal;
	border-radius: 30px 30px 0px 0px;
}

#container {
	width: 360px;
	margin: 100px auto;
	/* background-color: #f7f7f7; */
	/* box-shadow: 0 0 3px rgba(0,0,0, 0.1); */
	border-radius: 30px;
	box-shadow:  37px 37px 74px #0a778a, 
							 -37px -37px 74px #1affff;
}

.fa-plus-square {
  padding-left: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	/* background-color: #fff; */
	height: 40px;
	font-size: 1.5em;
	line-height: 40px;
	color: rgb(0, 0, 0);
	-webkit-box-shadow: inset -8px -9px 26px -30px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -8px -9px 26px -30px rgba(0,0,0,0.75);
	box-shadow: inset -8px -9px 26px -30px rgba(0,0,0,0.75);
}

li:nth-child(2n){
	/* background:  #f3f3f3; */
}

li:last-child {
	border-radius: 0px 0px 30px 30px;
}

li span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition-property: text, width;
	transition-duration:  0.3s;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
	-webkit-box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.45);
	-moz-box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.45);
	box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.45);	
}

input:focus{
	background-color: #fff;
	border: 3px solid #12D8FA;
	outline: none;
}

.completed {
	color: grey;
	text-decoration: line-through;
}
